logging:
  level:
    org.springframework.security: INFO

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

#security:
#  oauth2:
#    resource:
#      userInfoUri: http://localhost:5000/uaa/users/current